@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

/* Normalize */
* {
    margin: 0;
    padding: 0;
    font-family: serif;
    font-family: 'Titillium Web', sans-serif;
}

/* Body style */
body {
    position: relative;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Conv_cyber', sans-serif;
    font-size: 3rem;
    color: purple;
}

header {
    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 15px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 20px;
    background-color: white;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.05);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo>img {
    width: 80%;
    padding: 10px 15px;
    box-sizing: border-box;
    cursor: pointer;
}
.logo-img:hover{
    background-color: whitesmoke;
    border-radius: 30px;
    filter: contrast(0.8);
}
.wrapper-tags{
    font-weight: bold;
}
form {
    display: grid;
    grid-template-columns: 6fr 2fr;
}

.input_btn_line {
    width: 100%;
}

#queryField {
    width: 93%;
    height: 50px;
    background: whitesmoke;
    padding: 0px 20px;
    border-radius: 30px;
    outline: none;
    border: none;
    font-size: 16px;
    color: #767676;
}

#queryField::placeholder {
    font-size: 16px;
    color: #767676;
}

.form_labels {
    display: grid;
    column-gap: 10px;
   align-items: center;
    width: 100%;
}
.form_labels:first-child{
    margin-right: 10px;
}
.form_labels>label {
    color: darkslategray;
    cursor: pointer;
}

.form_labels>label>input {
    cursor: pointer;
}


.form_radio input[type=radio] {
    display: none;
}

.form_radio label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 0;
    line-height: 18px;
    user-select: none;
    color: darkslategray;
}

.form_radio label:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background: gray;
    border-radius: 50%;
}

/* Checked */
.form_radio input[type=radio]:checked+label:before {
    background: red;
    border-radius: 50%;
    width: 18px;
    height: 18px;
}
.form_radio input[type=radio]:checked+label:after {
    background: black;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

/* Hover */
.form_radio label:hover:before {
    filter: brightness(120%);
}


/* Image container */
main {
    padding: 0px 20px;
    margin-top: 85px;
    scroll-behavior: smooth;
}

#content_wrapper {
    margin: 0 auto;
    column-count: 5;
    column-gap: 10px;
    row-gap: 10px;
}

.wrapper_element {
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    height: auto;
    display: inline-block;
    width: 100%;
    background-color: white;
    margin-bottom: 20px;
}

.wrapper-img {
    width: 100%;
    border-radius: 16px;
}

.fullscreen {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(128, 0, 128, 0.5);
}

.fullscreen img {
    width: 70vw;
    pointer-events: none;
    border-radius: 10px;
}

.pagination_wrapper {
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    margin: 20px auto;
}

.page_number {
    text-align: center;
    cursor: pointer;
    color: gray;
    width: 90%;
}

.page_number:hover {
    color: purple;
    background-color: white;
    border-radius: 5px;
}

.active_page {
    color: white;
    background-color: purple;
    border-radius: 5px;
}